@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pri: #2a8864;
  --sec: #f5baa0;
  --ter: #fcfcfc;
  --quar: #4e4e4e;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Caveat", cursive, sans-serif;
  background-color: var(--pri);
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
main .menu {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main .menu .card {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: var(--quar);
  width: 200px;
  height: 200px;
  background-color: var(--ter);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
  overflow: hidden;
}
main .menu .card span {
  z-index: 1;
  font-weight: 900;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 40px;
  color: var(--pri);
  text-align: center;
  background-color: var(--ter);
}
main .menu .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
main .menu .card .hov {
  z-index: 1;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -10%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--pri);
  background-color: var(--sec);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease-in-out;
}
main .menu .card::after {
  opacity: 0.5;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--pri);
  border-radius: 10px;
  z-index: -1;
  transition: all 0.1s ease-in-out;
}
main .menu .card:hover {
  transform: scale(0.99);
}
main .menu .card:hover .hov {
  opacity: 1;
  bottom: 0;
}
main .menu .card:active {
  transform: scale(0.95);
}
main .pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main .pages .page {
  z-index: 10;
  padding: 20px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  display: none;
  top: 0;
  position: absolute;
  background-color: var(--sec);
}
main .pages .page h1 {
  margin-left: 30px;
  color: var(--pri);
  font-size: 2rem;
}
main .pages .page i {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--pri);
  top: 10px;
  right: 20px;
  position: absolute;
}
main .pages .todo-page {
  display: block;
  height: 100%;
}
main .pages .todo-page .todo-container {
  justify-self: center;
  width: 95%;
  display: flex;
  height: 80%;
  justify-content: space-between;
  margin-top: 50px;
}
main .pages .todo-page .todo-container .add-task {
  overflow: hidden;
  border-radius: 15px 0px 0px 15px;
  width: 28%;
  height: 100%;
  background-color: var(--pri);
}
main .pages .todo-page .todo-container .add-task form {
  gap: 20px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
main .pages .todo-page .todo-container .add-task form input, main .pages .todo-page .todo-container .add-task form textarea {
  width: 100%;
  background-color: var(--ter);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
}
main .pages .todo-page .todo-container .add-task form textarea {
  height: 40%;
  resize: vertical;
}
main .pages .todo-page .todo-container .add-task form .alert {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #ff6b6b;
  color: var(--ter);
  font-weight: 600;
  opacity: 0;
}
main .pages .todo-page .todo-container .add-task form .add-task-btn {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  background-color: var(--ter);
  border: none;
  color: var(--quar);
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 5px;
}
main .pages .todo-page .todo-container .add-task form .add-task-btn:active {
  transform: scale(0.95);
}
main .pages .todo-page .todo-container .add-task form h2 {
  color: var(--ter);
}
main .pages .todo-page .todo-container .add-task form .check-imp {
  color: var(--ter);
  width: 100%;
  display: flex;
  gap: 10px;
}
main .pages .todo-page .todo-container .add-task form .check-imp input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
main .pages .todo-page .todo-container .tasks {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  width: 70%;
  gap: 10px;
  overflow: auto;
  height: 100%;
  background-color: var(--pri);
}
main .pages .todo-page .todo-container .tasks .task {
  position: relative;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  color: var(--quar);
  padding: 10px 20px;
  background-color: var(--ter);
  display: flex;
  justify-content: space-between;
}
main .pages .todo-page .todo-container .tasks .task i {
  font-size: 1rem;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: -3px;
  left: -2px;
  color: rgb(240, 38, 38);
  display: inline-block;
  animation: rotate 8s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main .pages .todo-page .todo-container .tasks .task i.true {
  opacity: 1;
}
main .pages .todo-page .todo-container .tasks .task i.false {
  opacity: 0;
}
main .pages .todo-page .todo-container .tasks .task .complete-btn {
  font-size: 1rem;
  font-weight: 500;
  color: var(--ter);
  background-color: var(--pri);
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 10px 40px;
  white-space: nowrap;
  cursor: pointer;
}
main .pages .todo-page .todo-container .tasks .task .complete-btn:active {
  transform: scale(0.95);
}
main .pages .todo-page .todo-container .tasks .task p {
  font-size: 1.1rem;
}/*# sourceMappingURL=style.css.map */